In [39]:
import pandas as pd
import numpy as np

In [13]:
#Import movies csv
movies = pd.read_csv('data/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [21]:
#Import ratings csv
ratings = pd.read_csv('data/ratings.csv', parse_dates=['timestamp'])
ratings.head()

   userId  movieId  rating   timestamp
0       1       16     4.0  1217897793
1       1       24     1.5  1217895807
2       1       32     4.0  1217896246
3       1       47     4.0  1217896556
4       1       50     4.0  1217896523

In [33]:
#Combine 'movies' and 'ratings' csv's and drop timestamp column
df = pd.merge(ratings, movies, how='right', on='movieId')
df = df.drop(columns=['timestamp'])
df

,userId,movieId,rating,title,genres
0,2.0,1,5.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,5.0,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
2,8.0,1,5.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
3,11.0,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
4,14.0,1,4.0,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
...,...,...,...,...,...
105338,475.0,148238,3.0,A Very Murray Christmas (2015),Comedy
105339,458.0,148626,4.0,The Big Short (2015),Drama
105340,576.0,148626,4.5,The Big Short (2015),Drama
105341,668.0,148626,4.5,The Big Short (2015),Drama
105342,475.0,149532,4.0,Marco Polo: One Hundred Eyes (2015),(no genres listed)

In [48]:
genres_list = []
unique_genres = []
for genre in df.genres.unique():
    genres_list.append(genre)
for x in range(len(genres_list)):
    genres_list[x] = genres_list[x].split('|')
for x in genres_list:
    for genre in x:
        if genre not in unique_genres:
            unique_genres.append(genre)
unique_genres

['Adventure',
 'Animation',
 'Children',
 'Comedy',
 'Fantasy',
 'Romance',
 'Drama',
 'Action',
 'Crime',
 'Thriller',
 'Horror',
 'Mystery',
 'Sci-Fi',
 'IMAX',
 'War',
 'Musical',
 'Documentary',
 'Western',
 'Film-Noir',
 '(no genres listed)']