In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [3]:
#Import movies csv
movies_df = pd.read_csv('data/movies.csv')
# movies_df.head()
# len(movies_df)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
#Import ratings csv
ratings_df = pd.read_csv('data/ratings.csv', parse_dates=['timestamp'])
# ratings_df.head()

In [5]:
#Combine 'movies' and 'ratings' dataframes and drop timestamp column
combined_df = pd.merge(ratings_df, movies_df, how='right', on='movieId')
combined_df = combined_df.drop(columns=['timestamp'])
# combined_df

In [6]:
#Extract a list of individual genres from 'genres' column in df
genres_list = []
unique_genres = []
for genre in combined_df.genres.unique():
    genres_list.append(genre)
for x in range(len(genres_list)):
    genres_list[x] = genres_list[x].split('|')
for x in genres_list:
    for genre in x:
        if genre not in unique_genres:
            unique_genres.append(genre)
# unique_genres

In [8]:
all_genres = []
for x in movies_df['genres']:
    all_genres.append(x)
# all_genres

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf_model = TfidfVectorizer(analyzer='word',stop_words='english')
tfidf_values = tfidf_model.fit_transform(movies_df['genres'])
# tfidf_values.shape

(10329, 23)

In [10]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_values, tfidf_values)
# cosine_sim.shape

(10329, 10329)

In [18]:
movie_titles = np.array(movies_df['title'])
def recommend_movie(movie_title):
    for x in range(len(movie_titles)):
        if movie_titles[x] == movie_title:
            index = x
            similarity = list(enumerate(cosine_sim[index]))
    similarity = sorted(similarity, key=lambda x: x[1], reverse=True)
    similarity = similarity[1:11]
    movie_indices = [i[0] for i in similarity]
    return movie_titles[movie_indices]

In [23]:
print(f"Because you liked Jumanji, we recommend the following movies: \n{recommend_movie('Jumanji (1995)')}")

Because you liked Jumanji, we recommend the following movies:
['Indian in the Cupboard, The (1995)' 'NeverEnding Story III, The (1994)'
 'Escape to Witch Mountain (1975)'
 "Darby O'Gill and the Little People (1959)" 'Return to Oz (1985)'
 'NeverEnding Story, The (1984)'
 'NeverEnding Story II: The Next Chapter, The (1990)'
 'Santa Claus: The Movie (1985)'
 "Harry Potter and the Sorcerer's Stone (a.k.a. Harry Potter and the Philosopher's Stone) (2001)"
 'Magic in the Water (1995)']